@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
  font-family: "Inter", sans-serif;
}

.content{
  background: linear-gradient(to bottom, #FEF7E7, #FFF9EE);

}

/* Hide scrollbar*/
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none; 
}

.no-drag {
  pointer-events: auto; /* Removing the dragable area from particual object */
}